In [44]:
import pandas as pd
import numpy as np

In [70]:
df = pd.read_csv('CAX_Startup_Data.csv')
df.head()

,Company_Name,Dependent-Company Status,year of founding,Age of company in years,Internet Activity Score,Short Description of company profile,Industry of company,Focus functions of company,Investors,Employee Count,...,Percent_skill_Data Science,Percent_skill_Business Strategy,Percent_skill_Product Management,Percent_skill_Sales,Percent_skill_Domain,Percent_skill_Law,Percent_skill_Consulting,Percent_skill_Finance,Percent_skill_Investment,Renown score
0,Company1,Success,No Info,No Info,-1.0,Video distribution,NaN,operation,KPCB Holdings|Draper Fisher Jurvetson (DFJ)|Kl...,3.0,...,0,0,0,0,0,0,0,0,0,0
1,Company2,Success,2011,3,125.0,NaN,Market Research|Marketing|Crowdfunding,"Marketing, sales",NaN,NaN,...,8.823529412,21.76470588,10.88235294,2.941176471,0,0,0,0,0,8
2,Company3,Success,2011,3,455.0,Event Data Analytics API,Analytics|Cloud Computing|Software Development,operations,TechStars|Streamlined Ventures|Amplify Partner...,14.0,...,3.846153846,17.09401709,9.401709402,0,2.777777778,0,0,0,0,9
3,Company4,Success,2009,5,-99.0,The most advanced analytics for mobile,Mobile|Analytics,Marketing & Sales,Michael Birch|Max Levchin|Sequoia Capital|Keit...,45.0,...,0,0,0,0,0,0,0,0,0,5
4,Company5,Success,2010,4,496.0,The Location-Based Marketing Platform,Analytics|Marketing|Enterprise Software,Marketing & Sales,DFJ Frontier|Draper Nexus Ventures|Gil Elbaz|A...,39.0,...,0,0,0,0,0,0,0,0,0,6

In [71]:
df.shape

(472, 116)

In [72]:
df.columns

Index(['Company_Name', 'Dependent-Company Status', 'year of founding',
       'Age of company in years', 'Internet Activity Score',
       'Short Description of company profile', 'Industry of company',
       'Focus functions of company', 'Investors', 'Employee Count',
       ...
       'Percent_skill_Data Science', 'Percent_skill_Business Strategy',
       'Percent_skill_Product Management', 'Percent_skill_Sales',
       'Percent_skill_Domain', 'Percent_skill_Law', 'Percent_skill_Consulting',
       'Percent_skill_Finance', 'Percent_skill_Investment', 'Renown score'],
      dtype='object', length=116)

In [64]:
list(df.columns)

['Company_Name',
 'Dependent-Company Status',
 'year of founding',
 'Age of company in years',
 'Internet Activity Score',
 'Short Description of company profile',
 'Industry of company',
 'Focus functions of company',
 'Investors',
 'Employee Count',
 'Employees count MoM change',
 'Has the team size grown',
 'Est. Founding Date',
 'Last Funding Date',
 'Last Funding Amount',
 'Country of company',
 'Continent of company',
 'Number of Investors in Seed',
 'Number of Investors in Angel and or VC',
 'Number of Co-founders',
 'Number of of advisors',
 'Team size Senior leadership',
 'Team size all employees',
 'Presence of a top angel or venture fund in previous round of investment',
 'Number of of repeat investors',
 'Number of  Sales Support material',
 'Worked in top companies',
 'Average size of companies worked for in the past',
 'Have been part of startups in the past?',
 'Have been part of successful startups in the past?',
 'Was he or she partner in Big 5 consulting?',
 'Consulting experience?',
 'Product or service company?',
 'Catering to product/service across verticals',
 'Focus on private or public data?',
 'Focus on consumer data?',
 'Focus on structured or unstructured data',
 'Subscription based business',
 'Cloud or platform based serive/product?',
 'Local or global player',
 'Linear or Non-linear business model',
 'Capital intensive business e.g. e-commerce, Engineering products and operations can also cause a business to be capital intensive',
 'Number of  of Partners of company',
 'Crowdsourcing based business',
 'Crowdfunding based business',
 'Machine Learning based business',
 'Predictive Analytics business',
 'Speech analytics business',
 'Prescriptive analytics business',
 'Big Data Business',
 'Cross-Channel Analytics/ marketing channels',
 'Owns data or not? (monetization of data) e.g. Factual',
 'Is the company an aggregator/market place? e.g. Bluekai',
 'Online or offline venture - physical location based business or online venture?',
 'B2C or B2B venture?',
 "Top forums like 'Tech crunch' or 'Venture beat' talking about the company/model - How much is it being talked about?",
 'Average Years of experience for founder and co founder',
 'Exposure across the globe',
 'Breadth of experience across verticals',
 'Highest education',
 'Years of education',
 'Specialization of highest education',
 'Relevance of education to venture',
 'Relevance of experience to venture',
 'Degree from a Tier 1 or Tier 2 university?',
 'Renowned in professional circle',
 'Experience in selling and building products',
 'Experience in Fortune 100 organizations',
 'Experience in Fortune 500 organizations',
 'Experience in Fortune 1000 organizations',
 'Top management similarity',
 'Number of Recognitions for Founders and Co-founders',
 'Number of  of Research publications',
 'Skills score',
 'Team Composition score',
 'Dificulty of Obtaining Work force',
 'Pricing Strategy',
 'Hyper localisation',
 'Time to market service or product',
 'Employee benefits and salary structures',
 'Long term relationship with other founders',
 'Proprietary or patent position (competitive position)',
 'Barriers of entry for the competitors',
 'Company awards',
 'Controversial history of founder or co founder',
 'Legal risk and intellectual property',
 'Client Reputation',
 'google page rank of company website',
 'Technical proficiencies to analyse and interpret unstructured data',
 'Solutions offered',
 'Invested through global incubation competitions?',
 'Industry trend in investing',
 'Disruptiveness of technology',
 'Number of Direct competitors',
 'Employees per year of company existence',
 'Last round of funding received (in milionUSD)',
 'Survival through recession, based on existence of the company through recession times',
 'Time to 1st investment (in months)',
 'Avg time to investment - average across all rounds, measured from previous investment',
 'Time to maturity of technology (in years)',
 'Percent_skill_Entrepreneurship',
 'Percent_skill_Operations',
 'Percent_skill_Engineering',
 'Percent_skill_Marketing',
 'Percent_skill_Leadership',
 'Percent_skill_Data Science',
 'Percent_skill_Business Strategy',
 'Percent_skill_Product Management',
 'Percent_skill_Sales',
 'Percent_skill_Domain',
 'Percent_skill_Law',
 'Percent_skill_Consulting',
 'Percent_skill_Finance',
 'Percent_skill_Investment',
 'Renown score']

In [ ]:
important_cols = [
    'Age of company in years',
    'Industry of company'
]

In [74]:
df = df.dropna(subset=['Industry of company'])

In [77]:
df.shape

(348, 116)

In [59]:
df = df.drop(["Gartner hype cycle stage"], axis = 1)

In [78]:
nas = pd.DataFrame(df.isna().sum()/df.shape[0])

In [79]:
nas = nas.reset_index(drop=False)

In [80]:
nas

                        index         0
0                Company_Name  0.000000
1    Dependent-Company Status  0.000000
2            year of founding  0.000000
3     Age of company in years  0.034483
4     Internet Activity Score  0.000000
..                        ...       ...
111         Percent_skill_Law  0.000000
112  Percent_skill_Consulting  0.000000
113     Percent_skill_Finance  0.000000
114  Percent_skill_Investment  0.000000
115              Renown score  0.000000

[116 rows x 2 columns]

In [81]:
nas.columns

Index(['index', 0], dtype='object')

In [83]:
nas[nas[0] > 0.1]

                                         index         0
5         Short Description of company profile  0.198276
8                                    Investors  0.212644
9                               Employee Count  0.235632
10                  Employees count MoM change  0.339080
13                           Last Funding Date  0.160920
14                         Last Funding Amount  0.258621
61         Specialization of highest education  0.158046
91                 Industry trend in investing  0.123563
99                    Gartner hype cycle stage  0.318966
100  Time to maturity of technology (in years)  0.318966

In [39]:
df["Employees count MoM change"].value_counts()

 0.0      39
 8.0       6
 4.0       6
 7.0       5
 3.0       4
 13.0      4
 9.0       4
-4.0       4
 6.0       3
 17.0      3
 5.0       3
 2.0       3
-100.0     3
 1.0       2
 11.0      2
-7.0       2
-1.0       2
-5.0       2
 40.0      1
-17.0      1
-3.0       1
 15.0      1
-6.0       1
-2.0       1
 10.0      1
 45.0      1
-13.0      1
 29.0      1
 20.0      1
 33.0      1
Name: Employees count MoM change, dtype: int64

In [40]:
df["Employee Count"].value_counts()

14.0     6
5.0      5
13.0     5
6.0      5
12.0     4
18.0     4
4.0      4
22.0     4
41.0     3
0.0      3
9.0      3
26.0     3
23.0     2
1.0      2
83.0     2
16.0     2
28.0     2
10.0     2
20.0     2
52.0     2
2.0      2
3.0      2
24.0     2
8.0      2
7.0      2
39.0     2
32.0     2
36.0     1
15.0     1
30.0     1
168.0    1
48.0     1
172.0    1
53.0     1
43.0     1
21.0     1
410.0    1
95.0     1
67.0     1
31.0     1
37.0     1
103.0    1
55.0     1
19.0     1
79.0     1
118.0    1
73.0     1
178.0    1
138.0    1
45.0     1
11.0     1
50.0     1
115.0    1
129.0    1
47.0     1
34.0     1
71.0     1
Name: Employee Count, dtype: int64

In [38]:
df[["Time to maturity of technology (in years)"]].value_counts()

Time to maturity of technology (in years)
2 to 5                                       76
0 to 2                                       21
5 to 10                                      12
dtype: int64

In [43]:
max(df["Employee Count"])

410.0

In [54]:
df = df.dropna()

In [55]:
df.shape

(109, 115)

In [33]:
all_rows_no_info = []
for col in df.columns:
    rows_no_info = list(df[df[col]=='No Info'].index)
    print(col)
    print(rows_no_info)
    all_rows_no_info.extend(rows_no_info)

Company_Name
[]
Dependent-Company Status
[]
year of founding
[]
Age of company in years
[]
Internet Activity Score
[]
Short Description of company profile
[]
Industry of company
[]
Focus functions of company
[]
Investors
[]
Employee Count
[]
Employees count MoM change
[]
Has the team size grown
[]
Est. Founding Date
[]
Last Funding Date
[]
Last Funding Amount
[]
Country of company
[]
Continent of company
[]
Number of Investors in Seed
[33]
Number of Investors in Angel and or VC
[33]
Number of Co-founders
[]
Number of of advisors
[]
Team size Senior leadership
[]
Team size all employees
[313, 335]
Presence of a top angel or venture fund in previous round of investment
[37, 38, 78, 82, 89, 104, 146, 273, 313, 327, 331, 335]
Number of of repeat investors
[]
Number of  Sales Support material
[]
Worked in top companies
[]
Average size of companies worked for in the past
[15, 82, 119, 130]
Have been part of startups in the past?
[]
Have been part of successful startups in the past?
[]
Was he or she partner in Big 5 consulting?
[]
Consulting experience?
[]
Product or service company?
[]
Catering to product/service across verticals
[]
Focus on private or public data?
[]
Focus on consumer data?
[]
Focus on structured or unstructured data
[]
Subscription based business
[]
Cloud or platform based serive/product?
[]
Local or global player
[104, 143, 146, 328]
Linear or Non-linear business model
[143, 146, 328]
Capital intensive business e.g. e-commerce, Engineering products and operations can also cause a business to be capital intensive
[19, 143, 146, 328]
Number of  of Partners of company
[22, 24, 25, 26, 29, 32, 33]
Crowdsourcing based business
[]
Crowdfunding based business
[]
Machine Learning based business
[]
Predictive Analytics business
[]
Speech analytics business
[]
Prescriptive analytics business
[]
Big Data Business
[]
Cross-Channel Analytics/ marketing channels
[]
Owns data or not? (monetization of data) e.g. Factual
[]
Is the company an aggregator/market place? e.g. Bluekai
[]
Online or offline venture - physical location based business or online venture?
[]
B2C or B2B venture?
[]
Top forums like 'Tech crunch' or 'Venture beat' talking about the company/model - How much is it being talked about?
[]
Average Years of experience for founder and co founder
[]
Exposure across the globe
[]
Breadth of experience across verticals
[]
Highest education
[126, 381]
Years of education
[126, 381]
Specialization of highest education
[126]
Relevance of education to venture
[126]
Relevance of experience to venture
[126]
Degree from a Tier 1 or Tier 2 university?
[]
Renowned in professional circle
[3, 126]
Experience in selling and building products
[]
Experience in Fortune 100 organizations
[]
Experience in Fortune 500 organizations
[]
Experience in Fortune 1000 organizations
[]
Top management similarity
[]
Number of Recognitions for Founders and Co-founders
[]
Number of  of Research publications
[]
Skills score
[]
Team Composition score
[]
Dificulty of Obtaining Work force
[]
Pricing Strategy
[]
Hyper localisation
[]
Time to market service or product
[]
Employee benefits and salary structures
[2, 8, 10, 13, 19, 36, 37, 38, 51, 57, 59, 60, 70, 72, 74, 78, 80, 82, 83, 84, 87, 89, 104, 106, 107, 116, 117, 118, 119, 133, 136, 137, 143, 144, 146, 149, 151, 230, 231, 234, 238, 239, 242, 247, 264, 273, 282, 304, 307, 309, 310, 313, 314, 316, 322, 324, 325, 327, 328, 330, 331, 335, 370, 371, 382, 387, 388]
Long term relationship with other founders
[13, 17, 130]
Proprietary or patent position (competitive position)
[]
Barriers of entry for the competitors
[]
Company awards
[]
Controversial history of founder or co founder
[]
Legal risk and intellectual property
[]
Client Reputation
[19, 25, 29, 33, 36, 78, 82, 83, 84, 89, 91, 136, 137, 143, 144, 146, 151, 162, 179, 197, 203, 207, 213, 219, 226, 264, 273, 282, 304, 316, 322, 324, 327, 331, 335, 381, 388]
google page rank of company website
[91, 136, 156, 189, 197, 225, 273, 307]
Technical proficiencies to analyse and interpret unstructured data
[]
Solutions offered
[]
Invested through global incubation competitions?
[370, 371, 381, 382, 383, 387, 388]
Industry trend in investing
[]
Disruptiveness of technology
[]
Number of Direct competitors
[]
Employees per year of company existence
[313, 335, 370, 371, 381, 382, 383, 387, 388]
Last round of funding received (in milionUSD)
[]
Survival through recession, based on existence of the company through recession times
[]
Time to 1st investment (in months)
[37]
Avg time to investment - average across all rounds, measured from previous investment
[33]
Gartner hype cycle stage
[]
Time to maturity of technology (in years)
[]
Percent_skill_Entrepreneurship
[]
Percent_skill_Operations
[]
Percent_skill_Engineering
[]
Percent_skill_Marketing
[]
Percent_skill_Leadership
[]
Percent_skill_Data Science
[]
Percent_skill_Business Strategy
[]
Percent_skill_Product Management
[]
Percent_skill_Sales
[]
Percent_skill_Domain
[]
Percent_skill_Law
[]
Percent_skill_Consulting
[]
Percent_skill_Finance
[]
Percent_skill_Investment
[]
Renown score
[]

In [36]:
len(list(set(all_rows_no_info)))

93

In [32]:
df[['google page rank of company website']]

    google page rank of company website
2                                 71391
3                                 11847
5                                591816
8                                256921
10                               142907
..                                  ...
381                              480111
382                              899614
383                               69882
387                               37120
388                              161711

[109 rows x 1 columns]

In [29]:
all_rows_no_info

[Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([33], dtype='int64'),
 Int64Index([33], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([313, 335], dtype='int64'),
 Int64Index([37, 38, 78, 82, 89, 104, 146, 273, 313, 327, 331, 335], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([15, 82, 119, 130], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([104, 143, 146, 328], dtype='int64'),
 Int64Index([143, 146, 328], dtype='int64'),
 Int64Index([19, 143, 146, 328], dtype='int64'),
 Int64Index([22, 24, 25, 26, 29, 32, 33], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([126, 381], dtype='int64'),
 Int64Index([126, 381], dtype='int64'),
 Int64Index([126], dtype='int64'),
 Int64Index([126], dtype='int64'),
 Int64Index([126], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([3, 126], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([  2,   8,  10,  13,  19,  36,  37,  38,  51,  57,  59,  60,  70,
              72,  74,  78,  80,  82,  83,  84,  87,  89, 104, 106, 107, 116,
             117, 118, 119, 133, 136, 137, 143, 144, 146, 149, 151, 230, 231,
             234, 238, 239, 242, 247, 264, 273, 282, 304, 307, 309, 310, 313,
             314, 316, 322, 324, 325, 327, 328, 330, 331, 335, 370, 371, 382,
             387, 388],
            dtype='int64'),
 Int64Index([13, 17, 130], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([ 19,  25,  29,  33,  36,  78,  82,  83,  84,  89,  91, 136, 137,
             143, 144, 146, 151, 162, 179, 197, 203, 207, 213, 219, 226, 264,
             273, 282, 304, 316, 322, 324, 327, 331, 335, 381, 388],
            dtype='int64'),
 Int64Index([91, 136, 156, 189, 197, 225, 273, 307], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([370, 371, 381, 382, 383, 387, 388], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([313, 335, 370, 371, 381, 382, 383, 387, 388], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([37], dtype='int64'),
 Int64Index([33], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64'),
 Int64Index([], dtype='int64')]

In [27]:
df[df['Number of Investors in Seed']=='No Info']

,Company_Name,Dependent-Company Status,year of founding,Age of company in years,Internet Activity Score,Short Description of company profile,Industry of company,Focus functions of company,Investors,Employee Count,...,Percent_skill_Data Science,Percent_skill_Business Strategy,Percent_skill_Product Management,Percent_skill_Sales,Percent_skill_Domain,Percent_skill_Law,Percent_skill_Consulting,Percent_skill_Finance,Percent_skill_Investment,Renown score
33,Company34,Success,2011,3,68.0,Social Media ROI Measurment,Advertising,Social Media optimization,Vaidya Capital Partners|[212]Media,9.0,...,0,0,0,0,0,0,0,0,0,2